a[href^="https"]{color: crimson;}

ul p{width: 24px;}

#p{border: inherit;}

body{color: rgb(225, 134, 22); font-size: 14px;}
.b{text-decoration: none;}
.b:hover{font-size: 100;
color: rgb(13, 239, 141);}